<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ .Params.head_description }}">
    <meta name="author" content="{{ .Site.Params.author }}">
    <title>{{ .Params.head_title  }}</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <style>
        html,
        body {
            height: 100%;
        }

        .container,
        .row.justify-content-center.align-items-center {
            height: 100%;
            min-height: 100%;
        }
    </style>

</head>

<body>
    <div class="container h-100">
        <div class="row text-center h-100 justify-content-center align-items-center">
            <div class="col-12">
                <p>There was an error sending your message.</p>
                <p>Sorry for this inconvenience, try again later.</p>
                <p>Or send an email directly to <a href="mailto:info@1865.it">info@1865.it</a></p>
                <p><a href="/">Back to 1865 Residenza d'epoca website</a></p>
            </div>
        </div>
    </div>
</body>

</html>