<!-- <div class="cd-section" id="features"> -->
    <div class="features-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="title">{{ i18n "features_title" }}</h2>
                    <div class="info info-horizontal">
                        <div class="description">
                            <h4 class="info-title">{{ i18n "feature1_title" }}</h4>
                            <p>{{ i18n "feature1_text" }}</p>
                        </div>
                    </div>
                    <div class="info info-horizontal">
                        <div class="description">
                            <h4 class="info-title">{{ i18n "feature2_title"}}</h4>
                            <p>{{ i18n "feature2_text" }}</p>
                        </div>
                    </div>
                    <div class="info info-horizontal">
                        <div class="description">
                            <h4 class="info-title">{{ i18n "feature3_title" }}</h4>
                            <p>{{ i18n "feature3_text" }}</p>
                        </div>
                    </div>
                    <div class="info info-horizontal">
                        <div class="description">
                            <h4 class="info-title">{{ i18n "feature4_title" }}</h4>
                            <p>{{ i18n "feature4_text" }}</p>
                        </div>
                    </div>
                    <div class="info info-horizontal">
                        <div class="description">
                            <h4 class="info-title">{{ i18n "feature5_title" }}</h4>
                            <p>{{ i18n "feature5_text" }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="tablet-container">
                        <img class="img-raised" src="/img/030-Residenza-d'epoca-1865-Corridoio01.jpg" alt="1865 residenza d'epoca corridor" />
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->