<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="{{ .Site.Params.description }}">
<meta name="author" content="{{ .Site.Params.author }}">
<title>{{ .Site.Title }}</title>

<!-- Favicons-->
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">

<link href="https://fonts.googleapis.com/css?family=Karla:400,700|Roboto:300,400" rel="stylesheet">

<!-- Bootstrap from sass -->
{{- $myBootstrap := resources.Get "sass/myBootstrap.scss" -}}
{{- $options := (dict "targetPath" "css/myBootstrap.css") -}}
{{- $myBootstrapCss := $myBootstrap | resources.ToCSS $options | minify | fingerprint -}}
<link rel="stylesheet" href="{{ $myBootstrapCss.RelPermalink }}">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/brands.css" integrity="sha384-BKw0P+CQz9xmby+uplDwp82Py8x1xtYPK3ORn/ZSoe6Dk3ETP59WCDnX+fI1XCKK" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/fontawesome.css" integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+" crossorigin="anonymous">

<!-- NOW UI Kit CSS -->
{{- $myUiKit := resources.Get "sass/now-ui-kit.scss" -}}
{{- $options := (dict "targetPath" "css/myUiKit.css") -}}
{{- $myUiCss := $myUiKit | resources.ToCSS $options | minify | fingerprint -}}
<link rel="stylesheet" href="{{ $myUiCss.RelPermalink }}">

{{- $custom := resources.Get "css/custom.css" -}}
{{- $fingerCustom := $custom | resources.Fingerprint -}}
<link rel="stylesheet" href="{{ $fingerCustom.Permalink }}">
