<nav class="navbar navbar-expand-lg bg-white fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="/" rel="noopener">
                {{ .Site.Title }}
            </a>
            <a class="navbar-brand" href="https://www.instagram.com/1865firenze" target="_blank"><i class="fab fa-instagram"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar top-bar"></span>
                <span class="navbar-toggler-bar middle-bar"></span>
                <span class="navbar-toggler-bar bottom-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" data-nav-image="/img/blurred-image-1.jpg" data-color="orange">
            <ul class="navbar-nav ml-auto">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                    {{ if .HasChildren }}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1" data-toggle="dropdown">
                            <p>{{ .Name }}</p>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink1">
                            {{ range .Children }}
                            <a class="dropdown-item" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
                            {{ end }}
                        </div>
                    </li>
                    {{ else }}
                    <li class="nav-item">
                        <a class="nav-link {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}" href="{{ .URL | absLangURL }}" rel="noopener">
                            <p>{{ .Name }}</p>
                        </a>
                    </li>
                    {{ end }}
                {{ end }}
                <li class="nav-item">
                  <a class="nav-link btn btn-primary" href="{{ i18n "book_link" }}" rel="noopener" target="_blank">
                    <p class="text-uppercase">{{ i18n "book_now" . }}</p>
                  </a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="navbarLanguageSelector" data-toggle="dropdown">
                        <p class="text-uppercase">{{ .Language.LanguageName }}</p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarLanguageSelector">
                        {{ range $.Site.Home.AllTranslations }}
                        <a class="dropdown-item" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
                        {{ end }}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
