{{ define "body" }}
{{ partial "slide.html" . }}
<div class="cd-section" id="features">
    <div class="features-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="title">1865 Residenza d'epoca</h2>
                    <div class="info info-horizontal">
                        <div class="description">
                            <h4 class="info-title">Nuovo Concetto</h4>
                            <p>E’ appena nata nel centro di Firenze, in un quartiere residenziale, una nuova ed esclusiva guest house di 5 lussuose camere in un palazzo storico: <b>1865</b>. Preziosi elementi di design accostati ad alcuni d’epoca creano un’atmosfera di grande fascino ed eleganza.</p>
                        </div>
                    </div>
                    <div class="info info-horizontal">
                        <div class="description">
                            <h4 class="info-title">Si sente la storia</h4>
                            <p>Tutte le camere, ognuna dedicata ad uno scrittore che ha trascorso una parte della sua vita nella Firenze Capitale (1865-1871).</p>
                        </div>
                    </div>
                    <div class="info info-horizontal">
                        <div class="description">
                            <h4 class="info-title">Disegno esclusivo</h4>
                            <p>Sono state disegnate ed arredate su misura; dotate di lussuosi bagni in travertino, oltre che di TV LCD, aria condizionata e WiFi. I materassi, la biancheria, gli accappatoi e i prodotti offerti sono di prima qualità e provengono tutti da aziende toscane.</p>
                        </div>
                    </div>
                    <div class="info info-horizontal">
                        <div class="description">
                            <h4 class="info-title">Come a casa vostra</h4>
                            <p>La singola e dettagliata personalizzazione di ogni camera risponde alla nostra esigenza più importante: far provare ai nostri ospiti un'autentica esperienza fiorentina con la sensazione di essere a casa.</p>
                        </div>
                    </div>
                    <div class="info info-horizontal">
                        <div class="description">
                            <h4 class="info-title">Qualita, prima di tutto</h4>
                            <p>Una colazione completa,inclusa nel prezzo, a base di prodotti freschi viene servita tutte le mattine nello spettacolare salotto rosso, dove 24 ore su 24 sono a disposizione del cliente caffè, the, tisane, acqua minerale ed una piccola biblioteca.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="tablet-container">
                        <img class="img-raised" src="/img/030-Residenza-d'epoca-1865-Corridoio01.jpg" alt="1865 residenza d'epoca corridor" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ end }}
