{{ define "body" }}
{{ partial "slide.html" . }}

<!-- <div class="cd-section section-full-screen" id="testimonials">
    <div class="testimonials-2">
        <div class="container d-flex h-100">
            <div class="row align-self-center">
                <div class="col-md-6 offset-md-3">
                    <div class="card card-testimonial card-plain">
                        <div class="card-body">
                            <h3 class="card-title">New concept</h3>
                            <h5 class="card-description">An exclusive new guesthouse, 1865, with 5 luxurious bedrooms, has just opened in a historic building in a residential part of central Florence.<br />Precious design elements combined with period features create an atmosphere of great charm and elegance.</h5>
                            <div class="card-footer">
                                <h6 class="category text-primary">Read more ...</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


<div class="cd-section" id="features">
    <div class="features-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="title">1865 HISTORIC GUEST HOUSE</h2>
                    <div class="info info-horizontal">
                        <div class="description">
                            <h4 class="info-title">New concept</h4>
                            <p>An exclusive new guesthouse, <b>1865</b>, with 5 luxurious bedrooms, has just opened in a historic building in a residential part of central Florence. Precious design elements combined with period features create an atmosphere of great charm and elegance.</p>
                        </div>
                    </div>
                    <div class="info info-horizontal">
                        <div class="description">
                            <h4 class="info-title">Part of the History</h4>
                            <p>Each room is named after an author who was living in Florence when it was the capital of Italy from 1865 until 1871.</p>
                        </div>
                    </div>
                    <div class="info info-horizontal">
                        <div class="description">
                            <h4 class="info-title">Exclusive design</h4>
                            <p>Each one is individually designed and furnished, and has a luxurious travertine bathroom, LCD television, air conditioning, and
                                wi-fi. The mattresses, bed linen, bathrobes, and personal toiletries are of first quality, and all made locally in Tuscany. The individual, detailed personalisation of each room reflects our most important requirement: to give our guests an
                                authentically Florentine experience combined with a feeling of being at home.</p>
                        </div>
                    </div>
                    <div class="info info-horizontal">
                        <div class="description">
                            <h4 class="info-title">Quality, first of all</h4>
                            <p>A full breakfast, included in the cost, is based on fresh produce. It is served every morning in the spectacular red lounge, where coffee, tea, herbal teas, mineral water, and a small library are available 24 hours a day.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="tablet-container">
                        <img class="img-raised" src="/img/030-Residenza-d'epoca-1865-Corridoio01.jpg" alt="1865 residenza d'epoca corridor" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ end }}
