<div class="carousel-item">
    <div class="page-header header-filter">
        <div class="page-header-image" style="background-image: url('{{ .Site.Params.slide3_image }}');"></div>
        <div class="content-center">
            <div class="container">
                <div class="content-center">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto text-center">
                            <h1 class="title">{{ .Site.Params.slide3_text }}</h1>
                            <!-- <h4 class="description"></h4> -->
                            <!-- <h5></h5> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>